html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3';
    font-style: normal;
    width:100%;
}
.logo {
    width:23px;
    height:23px;
    vertical-align: center;
    padding-top:0.9em;
    padding-left:1em;
    padding-right:0.25em;

}
.logosection {
    display:flex;
    vertical-align: center;
    justify-content: left;

}
header {
                background-image: url("/images/blog-image-hero.png");
                background-size:99vh;
/*                height:auto;
                width:auto;*/
                height:40vh;
                grid-row: 1/3;
                grid-column: 1/-1;
        }
.topheader {
            display:flex;
            justify-content: space-between;
            letter-spacing: -0.03em;
            color: #0E0E0E;
            padding-right:0.25rem;
            background-color:#ffff;
            opacity:1;
}
h1 {   
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 0.7rem;
        padding-top:0.8rem;
        padding-right: 3em;
}
nav {
    display:flex;
    justify-content: space-between;
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 0.8rem;
    text-align: right;
    color: #090909;
}
.toparticle {
    margin-top:5em;
    color:#fff;
    padding: 1rem;

}
.heroarticlehead {
  font-size:1.5rem;
  font-weight:900;   
}
.navlink {  
    padding-top:2em;
    padding-left:2em;
    padding-right:2em;
}
.gridly {
    display:grid;
    grid-gap: .5em;
    grid-template-columns: 1fr;

}
.article {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    grid-column: span 1;
}

.articlehead {
    font-weight:900;
    font-size:1.5rem;
}

@media (min-width:576px) {

.gridly {
    display:grid;
    grid-gap: .5em;
    grid-template-columns: repeat(3,minmax(150px,1fr));
    }
}